<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Day 1">
    <classes>
      <class name="TestPackage.day1">
  
  	</class>
    </classes>
  </test> <!-- Test -->
  <test name="Day 2">
  	<classes>
  		<class name="TestPackage.day2">
  	
  	</class>
  	</classes>
  </test>
</suite> <!-- Suite -->
